{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "Hybrid Cloud Manager" %}{% endblock %}

{% block main %}

<noscript>
{% trans "This pane needs javascript support." %}
</noscript>

{% include "project/hybrid_cloud/client_side/_balloon_container.html" %}
{% include "project/hybrid_cloud/client_side/_balloon_device.html" %}
{% include "project/hybrid_cloud/client_side/_balloon_port.html" %}
{% include "project/hybrid_cloud/client_side/_balloon_net.html" %}
{% include "project/hybrid_cloud/client_side/_balloon_instance.html" %}
{% include "project/network_topology/client_side/_balloon_monitor.html" %}
<div class='description'>
  {% blocktrans %}
      Hybrid Cloud가 구성된 상태를 모니터링합니다
  {% endblocktrans %}
</div>

<div id="topologyCanvasContainer">
  <div class="nodata">{% blocktrans %}There are no networks, routers, or connected instances to display.{% endblocktrans %}</div>
</div>
<span data-hybridtopology="{% url 'horizon:project:hybrid_cloud:json' %}" id="hybridtopology"></span>
<div id="topologyMessages"></div>

<script type="text/javascript">
  if (typeof horizon.hybrid_topology !== 'undefined') {
    horizon.hybrid_topology.init();
  } else {
    addHorizonLoadEvent(function () {
      horizon.hybrid_topology.init();
    });
  }
</script>
{% endblock %}