{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "Hybrid Cloud Manager" %}{% endblock %}

{% block main %}

<noscript>
{% trans "This pane needs javascript support." %}
</noscript>

{% include "project/hybrid_cloud/client_side/_balloon_container.html" %}
{% include "project/hybrid_cloud/client_side/_balloon_device.html" %}
{% include "project/hybrid_cloud/client_side/_balloon_port.html" %}
{% include "project/hybrid_cloud/client_side/_balloon_net.html" %}
{% include "project/hybrid_cloud/client_side/_balloon_instance.html" %}
{% include "project/hybrid_cloud/client_side/_balloon_monitor.html" %}
<div class='description'>
  {% blocktrans %}
      Hybrid Cloud가 구성된 상태를 모니터링합니다
  {% endblocktrans %}
</div>

<div id="topologyCanvasContainer">
  <div class="nodata">{% blocktrans %}There are no networks, routers, or connected instances to display.{% endblocktrans %}</div>
</div>
<span data-hybridtopology="{% url 'horizon:project:hybrid_cloud:json' %}" id="hybridtopology"></span>
<div id="topologyMessages"></div>

<div class="col-sm-9 chart_container">
  <div class="chart-1"
    data-chart-type="line_chart"
    data-url="{% url 'horizon:project:hybrid_cloud:samples'%}"
    data-form-selector='#linechart_general_form'
    data-legend-selector="#legend"
    data-smoother-selector="#smoother"
    data-slider-selector="#slider">
  </div>
  <div id="slider"></div>
  <div class="col-sm-3 legend_container">
      <div id="smoother" title="Smoothing"></div>
      <div id="legend"></div>
  </div>
</div>


<script type="text/javascript">
  if (typeof horizon.hybrid_topology !== 'undefined') {
    horizon.hybrid_topology.init();
  } else {
    addHorizonLoadEvent(function () {
      horizon.hybrid_topology.init();
    });
  }
</script>
{% endblock %}