{% extends "horizon/client_side/template.html" %}
{% load i18n %}
{% load horizon %}
{% load url from future %}

{% block id %}balloon_monitor{% endblock %}

{% block template %}
{% jstemplate %}

<div class="portTableHeader">
 <div class="title">CPU Utilization</div>
</div>t

<table class="detailInfoTable">
 <caption></caption>
 <tbody>

   <div class="chart_container">
     <div id="instance_cpu_util_chart"
          data-chart-type="line_chart"
          data-url="{% url 'horizon:project:hybrid_cloud:samples'%}?instance_id=[[id]]"
          data-form-selector='#linechart_general_form'>
     </div>
   </div>

 </tbody>
</table>

{% endjstemplate %}
{% endblock %}